## PORT MIS 샘플데이터 전처리

### 0. 데이터 불러오기

In [1]:
import pandas as pd
import os

# 파일 경로
directory = '../data/광양'

# 3행까지 제거
for filename in os.listdir(directory):
    if filename.startswith("/광양_시설") and filename.endswith(".xlsx"):  # 부산_2022시작하는 파일에 대해서
        file_path = os.path.join(directory, filename)
        df = pd.read_excel(file_path)  # 엑셀 파일을 데이터프레임으로 읽기
        df = df.iloc[3:]  # 상단 3행 삭제
        df.to_excel(file_path, index=False)  # 수정된 데이터프레임을 덮어쓰기

        print(f"{filename} 삭제 완료.", flush=True)  # Added flush=True

In [2]:
import pandas as pd
directory = '../data/광양'

df = pd.read_excel(directory + '/광양_시설_202201.xlsx')
df1 = pd.read_excel(directory + '/광양_시설_202202.xlsx')
df2 = pd.read_excel(directory + '/광양_시설_202203.xlsx')
df3 = pd.read_excel(directory + '/광양_시설_202204.xlsx')
df4 = pd.read_excel(directory + '/광양_시설_202205.xlsx')
df5 = pd.read_excel(directory + '/광양_시설_202206.xlsx')
df6 = pd.read_excel(directory + '/광양_시설_202207.xlsx')
df7 = pd.read_excel(directory + '/광양_시설_202208.xlsx')
df8 = pd.read_excel(directory + '/광양_시설_202209.xlsx')
df9 = pd.read_excel(directory + '/광양_시설_202210.xlsx')
df10 = pd.read_excel(directory + '/광양_시설_202211.xlsx')
df11 = pd.read_excel(directory + '/광양_시설_202212.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
dfs = pd.read_excel(directory + '/광양_입출항_2022.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
dfs = dfs.iloc[11:]  # 상단 11행 삭제

In [5]:
dfs.columns

Index(['선박입출항현황', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [6]:
#dfs.drop(columns = 'z', inplace = True)

In [7]:
dfs.columns = ['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', 'CIQ수속일자', '수리일시', '항해구분', 'MRN 번호', '계선장소_코드', '계선장소_숫자', '계선장소명',
       '차항지', '전출항지', '선박용도', '외항:한국인선원수/내항:해기사선원수', '외항:외국인선원수/내항:보통선원수',
       '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']

In [8]:
combined_df = pd.concat([df, df1, df2, df3, df4, df5,df6,df7, df8,df9,df10,df11], ignore_index=True)
combined_df.columns = ['순번', '호출부호', '입항횟수_연도', '입항횟수_횟수', '시설사용횟수', '신고톤수', '선박명', '선사/대리점_코드',
       '선사/대리점명', '신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)',
       '신청일시(TO)', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무']
combined_df.to_excel(directory + '/부산_combined.xlsx', index=False)

In [9]:
combined_df = combined_df.iloc[3:]

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19408 entries, 3 to 19410
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순번          19386 non-null  object
 1   호출부호        19386 non-null  object
 2   입항횟수_연도     19386 non-null  object
 3   입항횟수_횟수     19386 non-null  object
 4   시설사용횟수      19386 non-null  object
 5   신고톤수        19386 non-null  object
 6   선박명         19386 non-null  object
 7   선사/대리점_코드   19386 non-null  object
 8   선사/대리점명     19386 non-null  object
 9   신청시설_코드     19386 non-null  object
 10  신청시설_번호     19386 non-null  object
 11  신청시설명       19386 non-null  object
 12  신청일시(FROM)  19386 non-null  object
 13  신청일시(TO)    19386 non-null  object
 14  지정시설_코드     19386 non-null  object
 15  지정시설_번호     19386 non-null  object
 16  지정시설명       19386 non-null  object
 17  지정일시(FROM)  19386 non-null  object
 18  지정일시(TO)    19386 non-null  object
 19  사용목적명       19386 non-null  object
 20  예보일시        19386 non-null  object
 21  허가유무        19386 non-null  object
dtypes: object(22)
memory usage: 3.3+ MB

In [11]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23213 entries, 11 to 23223
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   항명                   23213 non-null  object
 1   호출부호                 23213 non-null  object
 2   선박명                  23213 non-null  object
 3   입항횟수_연도              23213 non-null  object
 4   입항횟수_횟수              23213 non-null  object
 5   구분                   23213 non-null  object
 6   외내                   23213 non-null  object
 7   입출                   23213 non-null  object
 8   총톤수                  23152 non-null  object
 9   입항일시                 23213 non-null  object
 10  출항일시                 23213 non-null  object
 11  CIQ수속일자              13186 non-null  object
 12  수리일시                 23199 non-null  object
 13  항해구분                 23152 non-null  object
 14  MRN 번호               12464 non-null  object
 15  계선장소_코드              23152 non-null  object
 16  계선장소_숫자              23152 non-null  object
 17  계선장소명                23152 non-null  object
 18  차항지                  23152 non-null  object
 19  전출항지                 23152 non-null  object
 20  선박용도                 23213 non-null  object
 21  외항:한국인선원수/내항:해기사선원수  17149 non-null  object
 22  외항:외국인선원수/내항:보통선원수   23068 non-null  object
 23  승객                   8318 non-null   object
 24  예선                   23152 non-null  object
 25  도선                   23152 non-null  object
 26  부선호출부호1              1989 non-null   object
 27  부선호출부호2              4 non-null      object
dtypes: object(28)
memory usage: 5.0+ MB

### 1. 컬럼 제거 및 결측치 확인

#### 컬럼 제거(시설허가 : combined_df , 입출항 : dfs)

In [10]:
columns_to_drop = ['신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)', '신청일시(TO)', '선사/대리점_코드', '선사/대리점명']
combined_df.drop(columns=columns_to_drop, inplace=True)

In [11]:
columns_to_drop_dfs = ['외내', 'CIQ수속일자', 'MRN 번호', '차항지', '전출항지','외항:한국인선원수/내항:해기사선원수','외항:외국인선원수/내항:보통선원수', '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']
dfs.drop(columns=columns_to_drop_dfs,inplace=True)

#### 상세처리

- 입출 : 출항만 사용
- 선박용도 > 최종 전처리시 많은 순으로 고려
- 미허가 행 제외

In [12]:
combined_df = combined_df[combined_df['허가유무'] != '미허가']

In [13]:
dfs = dfs[dfs['입출'] == '출항']

### 2. Merge_type 변경 후 Merge

In [14]:
combined_df['입항횟수_횟수'] = pd.to_numeric(combined_df['입항횟수_횟수'], errors='coerce')
combined_df['입항횟수_연도'] = pd.to_numeric(combined_df['입항횟수_연도'], errors='coerce')

dfs['입항횟수_횟수'] = dfs['입항횟수_횟수'].astype(float)
dfs['입항횟수_연도'] = dfs['입항횟수_연도'].astype(float)
combined_df['입항횟수_횟수'] = combined_df['입항횟수_횟수'].astype(float)
combined_df['입항횟수_연도'] = combined_df['입항횟수_연도'].astype(float)

In [15]:
merged_left = pd.merge(dfs, combined_df, on= ['호출부호','선박명','입항횟수_횟수','입항횟수_연도'], how='left') # 입출항, 시설사용허가 left merge
merged_left

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,001,9.858,WAA,04,W구역,2021-11-01 01:00,2021-11-02 08:50,접안대기,2022-01-19,허가완료
1,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,002,9.858,MWR,01,한라IMS 전용부두,2021-11-02 12:12,2022-03-03 07:20,수리,2022-03-07,허가완료
2,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,003,9.858,MWR,01,한라IMS 전용부두,2022-03-03 07:36,2022-03-03 14:00,수리,2022-03-07,허가완료
3,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,001,36.184,WAD,01,D-1정박지,2021-12-18 15:54,2022-01-07 12:30,접안대기,2022-01-12,허가완료
4,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,002,36.184,MB2,07,원료부두 7선석,2022-01-07 15:00,2022-01-12 05:18,양하,2022-01-12,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19185,광양,3E3609,SENDAI TRADER,2022.0,9.0,최종,출항,"9,957",2022-12-31 07:00,2022-12-31 20:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19186,광양,018212,1거성,2022.0,16.0,최종,출항,287,2022-12-31 08:45,2022-12-31 18:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19187,광양,112802,11대신호,2022.0,96.0,최종,출항,245,2022-12-31 09:25,2022-12-31 10:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19188,광양,017884,제1세윤호,2022.0,97.0,최종,출항,141,2022-12-31 09:45,2022-12-31 11:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19189,광양,3E3614,CHENNAI VOYAGER,2022.0,4.0,최종,출항,"25,637",2022-12-31 13:15,2022-12-31 21:42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 중복된 행 제거

In [16]:
# 중복된 행, unique값만 남기기
unique_values = merged_left.drop_duplicates()

In [17]:
unique_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19190 entries, 0 to 19189
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   항명          19190 non-null  object
 1   호출부호        19190 non-null  object
 2   선박명         19190 non-null  object
 3   입항횟수_연도     19190 non-null  float64
 4   입항횟수_횟수     19190 non-null  float64
 5   구분          19190 non-null  object
 6   입출          19190 non-null  object
 7   총톤수         19105 non-null  object
 8   입항일시        19190 non-null  object
 9   출항일시        19190 non-null  object
 10  수리일시        19184 non-null  object
 11  항해구분        19105 non-null  object
 12  계선장소_코드     19105 non-null  object
 13  계선장소_숫자     19105 non-null  object
 14  계선장소명       19105 non-null  object
 15  선박용도        19190 non-null  object
 16  순번          18987 non-null  object
 17  시설사용횟수      18987 non-null  object
 18  신고톤수        18987 non-null  object
 19  지정시설_코드     18987 non-null  object
 20  지정시설_번호     18987 non-null  object
 21  지정시설명       18987 non-null  object
 22  지정일시(FROM)  18987 non-null  object
 23  지정일시(TO)    18987 non-null  object
 24  사용목적명       18987 non-null  object
 25  예보일시        18987 non-null  object
 26  허가유무        18987 non-null  object
dtypes: float64(2), object(25)
memory usage: 4.1+ MB

In [18]:
unique_values.isna().sum() # 계선장소, 예선, 도선, 차항지

항명              0
호출부호            0
선박명             0
입항횟수_연도         0
입항횟수_횟수         0
구분              0
입출              0
총톤수            85
입항일시            0
출항일시            0
수리일시            6
항해구분           85
계선장소_코드        85
계선장소_숫자        85
계선장소명          85
선박용도            0
순번            203
시설사용횟수        203
신고톤수          203
지정시설_코드       203
지정시설_번호       203
지정시설명         203
지정일시(FROM)    203
지정일시(TO)      203
사용목적명         203
예보일시          203
허가유무          203
dtype: int64

In [19]:
unique_values.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무'],
      dtype='object')

In [20]:
unique_values

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,001,9.858,WAA,04,W구역,2021-11-01 01:00,2021-11-02 08:50,접안대기,2022-01-19,허가완료
1,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,002,9.858,MWR,01,한라IMS 전용부두,2021-11-02 12:12,2022-03-03 07:20,수리,2022-03-07,허가완료
2,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,003,9.858,MWR,01,한라IMS 전용부두,2022-03-03 07:36,2022-03-03 14:00,수리,2022-03-07,허가완료
3,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,001,36.184,WAD,01,D-1정박지,2021-12-18 15:54,2022-01-07 12:30,접안대기,2022-01-12,허가완료
4,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,002,36.184,MB2,07,원료부두 7선석,2022-01-07 15:00,2022-01-12 05:18,양하,2022-01-12,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19185,광양,3E3609,SENDAI TRADER,2022.0,9.0,최종,출항,"9,957",2022-12-31 07:00,2022-12-31 20:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19186,광양,018212,1거성,2022.0,16.0,최종,출항,287,2022-12-31 08:45,2022-12-31 18:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19187,광양,112802,11대신호,2022.0,96.0,최종,출항,245,2022-12-31 09:25,2022-12-31 10:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19188,광양,017884,제1세윤호,2022.0,97.0,최종,출항,141,2022-12-31 09:45,2022-12-31 11:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19189,광양,3E3614,CHENNAI VOYAGER,2022.0,4.0,최종,출항,"25,637",2022-12-31 13:15,2022-12-31 21:42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. 대기시간, 서비스시간 컬럼생성(Entry > Anchor > Berth > Departure)

In [21]:
temp = unique_values.copy()

In [22]:
# 데이터 타입으로 변경 , 잘못된 값 제거(6311 인덱스)
temp['지정일시(TO)'] = pd.to_datetime(temp['지정일시(TO)'], errors='coerce')
temp['지정일시(FROM)'] = pd.to_datetime(temp['지정일시(FROM)'], errors='coerce')

In [23]:
# 접안 대기시간,출항 대기시간 계산
temp['접안_대기시간'] = pd.NaT
temp['출항_대기시간'] = pd.NaT

temp.loc[temp['사용목적명'] == '접안대기', '접안_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']
temp.loc[temp['사용목적명'] == '출항대기', '출항_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']

In [24]:
temp.head()

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간
0,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,WAA,04,W구역,2021-11-01 01:00:00,2021-11-02 08:50:00,접안대기,2022-01-19,허가완료,1 days 07:50:00,NaT
1,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,MWR,01,한라IMS 전용부두,2021-11-02 12:12:00,2022-03-03 07:20:00,수리,2022-03-07,허가완료,NaT,NaT
2,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,MWR,01,한라IMS 전용부두,2022-03-03 07:36:00,2022-03-03 14:00:00,수리,2022-03-07,허가완료,NaT,NaT
3,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,WAD,01,D-1정박지,2021-12-18 15:54:00,2022-01-07 12:30:00,접안대기,2022-01-12,허가완료,19 days 20:36:00,NaT
4,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,MB2,07,원료부두 7선석,2022-01-07 15:00:00,2022-01-12 05:18:00,양하,2022-01-12,허가완료,NaT,NaT

#### Departure 생성

- 출항대기시간 null 값인 경우에는, Departure 값이 '출항일시' 값
- 사용목적명이 '출항대기'일 경우에 Departure 값이 '신청일시(FROM)' 값으로

In [25]:
import numpy as np

# 'Service_Time_End' 열 생성
temp['Service_Time_End'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Service_Time_End' 값 할당
temp.loc[temp['사용목적명'] == '출항대기', 'Service_Time_End'] = temp['지정일시(FROM)']

# '출항_대기시간'이 null인 경우 'Service_Time_End' 값 할당
temp.loc[temp['출항_대기시간'].isnull(),'Service_Time_End'] = temp['출항일시']

In [26]:
temp.head(15)

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End
0,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,04,W구역,2021-11-01 01:00:00,2021-11-02 08:50:00,접안대기,2022-01-19,허가완료,1 days 07:50:00,NaT,2022-03-03 14:00
1,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,01,한라IMS 전용부두,2021-11-02 12:12:00,2022-03-03 07:20:00,수리,2022-03-07,허가완료,NaT,NaT,2022-03-03 14:00
2,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,01,한라IMS 전용부두,2022-03-03 07:36:00,2022-03-03 14:00:00,수리,2022-03-07,허가완료,NaT,NaT,2022-03-03 14:00
3,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,01,D-1정박지,2021-12-18 15:54:00,2022-01-07 12:30:00,접안대기,2022-01-12,허가완료,19 days 20:36:00,NaT,2022-01-12 05:18
4,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,07,원료부두 7선석,2022-01-07 15:00:00,2022-01-12 05:18:00,양하,2022-01-12,허가완료,NaT,NaT,2022-01-12 05:18
5,광양,HOSV,FJ STAR,2021.0,1.0,최종,출항,"35,025",2021-12-19 07:12,2022-01-07 14:24,...,01,D-1정박지,2021-12-19 07:12:00,2022-01-03 22:06:00,접안대기,2022-01-04,허가완료,15 days 14:54:00,NaT,2022-01-07 14:24
6,광양,HOSV,FJ STAR,2021.0,1.0,최종,출항,"35,025",2021-12-19 07:12,2022-01-07 14:24,...,07,원료부두 7선석,2022-01-04 00:36:00,2022-01-07 14:24:00,양하,2022-01-08,허가완료,NaT,NaT,2022-01-07 14:24
7,광양,V3ZD7,CHANG SHAN,2021.0,2.0,최종,출항,"1,983",2021-12-21 15:12,2022-01-05 01:30,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-01-05 01:30
8,광양,961452,현대쥬베일호,2021.0,23.0,최종,출항,138,2021-12-23 09:55,2022-01-01 10:40,...,13,K-13 정박지,2021-12-29 04:43:00,2021-12-31 15:20:00,기타,2022-01-03,허가완료,NaT,NaT,2022-01-01 10:40
9,광양,961452,현대쥬베일호,2021.0,23.0,최종,출항,138,2021-12-23 09:55,2022-01-01 10:40,...,01,관리부두 61선석,2021-12-31 15:40:00,2021-12-31 17:08:00,기타,2022-01-03,허가완료,NaT,NaT,2022-01-01 10:40
10,광양,961452,현대쥬베일호,2021.0,23.0,최종,출항,138,2021-12-23 09:55,2022-01-01 10:40,...,13,K-13 정박지,2021-12-31 17:30:00,2021-12-31 20:00:00,기타,2022-01-03,허가완료,NaT,NaT,2022-01-01 10:40
11,광양,961452,현대쥬베일호,2021.0,23.0,최종,출항,138,2021-12-23 09:55,2022-01-01 10:40,...,01,CTS반출부두,2021-12-31 20:50:00,2022-01-01 03:53:00,기타,2022-01-03,허가완료,NaT,NaT,2022-01-01 10:40
12,광양,961452,현대쥬베일호,2021.0,23.0,최종,출항,138,2021-12-23 09:55,2022-01-01 10:40,...,02,2정박지,2022-01-01 04:50:00,2022-01-01 10:40:00,기타,2022-01-03,허가완료,NaT,NaT,2022-01-01 10:40
13,광양,D7MH,CARINA,2021.0,16.0,최종,출항,"2,590",2021-12-23 18:00,2022-01-02 00:54,...,13,K-13 정박지,2021-12-25 04:12:00,2022-01-02 00:54:00,출항대기,2022-01-03,허가완료,NaT,7 days 20:42:00,2021-12-25 04:12:00
14,광양,3FRM8,WOOYANG VICTORY,2021.0,18.0,최종,출항,"4,825",2021-12-24 14:40,2022-01-02 00:36,...,13,K-13 정박지,2021-12-26 02:20:00,2022-01-02 00:36:00,출항대기,2022-01-03,허가완료,NaT,6 days 22:16:00,2021-12-26 02:20:00

#### Anchor = 접안대기

In [27]:
temp['Anchor'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Anchor' 값 할당
temp.loc[temp['사용목적명'] == '접안대기', 'Anchor'] = temp['지정일시(TO)']

In [28]:
temp['Service_Time_Start'] = np.where(temp['Anchor'].isnull(), temp['입항일시'], temp['Anchor'])

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_10758/3725780282.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  temp['Service_Time_Start'] = np.where(temp['Anchor'].isnull(), temp['입항일시'], temp['Anchor'])

In [29]:
# 문자열을 datetime으로 변환
temp['Service_Time_End'] = pd.to_datetime(temp['Service_Time_End'])
temp['Service_Time_Start'] = pd.to_datetime(temp['Service_Time_Start'])
temp['Service_Time'] = temp['Service_Time_End'] - temp['Service_Time_Start']

In [30]:
temp

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End,Anchor,Service_Time_Start,Service_Time
0,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,2021-11-02 08:50:00,접안대기,2022-01-19,허가완료,1 days 07:50:00,NaN,2022-03-03 14:00:00,2021-11-02 08:50:00,2021-11-02 08:50:00,121 days 05:10:00
1,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,2022-03-03 07:20:00,수리,2022-03-07,허가완료,NaT,NaN,2022-03-03 14:00:00,NaN,2021-11-02 01:00:00,121 days 13:00:00
2,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,2022-03-03 14:00:00,수리,2022-03-07,허가완료,NaT,NaN,2022-03-03 14:00:00,NaN,2021-11-02 01:00:00,121 days 13:00:00
3,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,2022-01-07 12:30:00,접안대기,2022-01-12,허가완료,19 days 20:36:00,NaN,2022-01-12 05:18:00,2022-01-07 12:30:00,2022-01-07 12:30:00,4 days 16:48:00
4,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,2022-01-12 05:18:00,양하,2022-01-12,허가완료,NaT,NaN,2022-01-12 05:18:00,NaN,2021-12-18 15:54:00,24 days 13:24:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19185,광양,3E3609,SENDAI TRADER,2022.0,9.0,최종,출항,"9,957",2022-12-31 07:00,2022-12-31 20:30,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 20:30:00,NaN,2022-12-31 07:00:00,0 days 13:30:00
19186,광양,018212,1거성,2022.0,16.0,최종,출항,287,2022-12-31 08:45,2022-12-31 18:35,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 18:35:00,NaN,2022-12-31 08:45:00,0 days 09:50:00
19187,광양,112802,11대신호,2022.0,96.0,최종,출항,245,2022-12-31 09:25,2022-12-31 10:25,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 10:25:00,NaN,2022-12-31 09:25:00,0 days 01:00:00
19188,광양,017884,제1세윤호,2022.0,97.0,최종,출항,141,2022-12-31 09:45,2022-12-31 11:10,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 11:10:00,NaN,2022-12-31 09:45:00,0 days 01:25:00
19189,광양,3E3614,CHENNAI VOYAGER,2022.0,4.0,최종,출항,"25,637",2022-12-31 13:15,2022-12-31 21:42,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 21:42:00,NaN,2022-12-31 13:15:00,0 days 08:27:00

### 서비스타임,대기율, 용도별 대기율(컨테이터/비컨테이너)

In [31]:
waiting = temp.copy()

In [32]:
waiting['접안_대기시간'].fillna(0, inplace = True)

In [33]:
# import pandas as pd

# # 데이터프레임에서 '접안_대기시간'과 'Service_Time' 컬럼을 timedelta 형식으로 변환
waiting['접안_대기시간'] = pd.to_timedelta(waiting['접안_대기시간'])
waiting['Service_Time'] = pd.to_timedelta(waiting['Service_Time'])

# timedelta 값에서 일(day)로 변환
waiting['접안_대기시간_NumDays'] = waiting['접안_대기시간'].dt.days
waiting['Service_Time_NumDays'] = waiting['Service_Time'].dt.days

In [34]:
# '접안_대기시간' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['접안_대기시간_일'] = waiting['접안_대기시간'].dt.days
waiting['접안_대기시간_시간'] = waiting['접안_대기시간'].dt.components.hours
waiting['접안_대기시간_분'] = waiting['접안_대기시간'].dt.components.minutes
# 'Service_Time' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['Service_Time_일'] = waiting['Service_Time'].dt.days
waiting['Service_Time_시간'] = waiting['Service_Time'].dt.components.hours
waiting['Service_Time_분'] = waiting['Service_Time'].dt.components.minutes

# 'Service_Time'을 분으로 변환하여 'Service_Time_분' 열에 추가
waiting['Service_Time_분'] = waiting['Service_Time_일'] * 24 * 60 + waiting['Service_Time_시간'] * 60 + waiting['Service_Time_분']

# '접안_대기시간'을 분으로 변환하여 '접안_대기시간_분' 열에 추가
waiting['접안_대기시간_분'] = waiting['접안_대기시간_일'] * 24 * 60 + waiting['접안_대기시간_시간'] * 60 + waiting['접안_대기시간_분']

In [35]:
waiting['대기율'] = waiting['접안_대기시간_분'] / waiting['Service_Time_분']

In [36]:
waiting['대기율'].describe()

count    19186.00
mean          inf
std           NaN
min        -10.95
25%          0.00
50%          0.00
75%          0.00
max           inf
Name: 대기율, dtype: float64

In [37]:
waiting['대기율'].fillna(0, inplace = True)

In [38]:
waiting['대기율'].mean()

inf

In [39]:
q99 = np.percentile(waiting['대기율'], 99)  
outliers = waiting[waiting['대기율'] > q99]

# 이상치 제외한 데이터 생성
filtered_data = waiting[waiting['대기율'] <= q99]  # 상위 1%의 이상치를 제외한 데이터

In [40]:
waiting.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무', '접안_대기시간', '출항_대기시간',
       'Service_Time_End', 'Anchor', 'Service_Time_Start', 'Service_Time',
       '접안_대기시간_NumDays', 'Service_Time_NumDays', '접안_대기시간_일', '접안_대기시간_시간',
       '접안_대기시간_분', 'Service_Time_일', 'Service_Time_시간', 'Service_Time_분',
       '대기율'],
      dtype='object')

In [41]:
waiting

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,Service_Time,접안_대기시간_NumDays,Service_Time_NumDays,접안_대기시간_일,접안_대기시간_시간,접안_대기시간_분,Service_Time_일,Service_Time_시간,Service_Time_분,대기율
0,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,121 days 05:10:00,1,121,1,7,1910,121,5,174550,0.010942
1,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,121 days 13:00:00,0,121,0,0,0,121,13,175020,0.000000
2,광양,D7WG,HECAN,2021.0,3.0,최종,출항,"9,858",2021-11-02 01:00,2022-03-03 14:00,...,121 days 13:00:00,0,121,0,0,0,121,13,175020,0.000000
3,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,4 days 16:48:00,19,4,19,20,28596,4,16,6768,4.225177
4,광양,3FIJ5,SM DIAMOND,2021.0,5.0,최종,출항,"36,184",2021-12-18 15:54,2022-01-12 05:18,...,24 days 13:24:00,0,24,0,0,0,24,13,35364,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19185,광양,3E3609,SENDAI TRADER,2022.0,9.0,최종,출항,"9,957",2022-12-31 07:00,2022-12-31 20:30,...,0 days 13:30:00,0,0,0,0,0,0,13,810,0.000000
19186,광양,018212,1거성,2022.0,16.0,최종,출항,287,2022-12-31 08:45,2022-12-31 18:35,...,0 days 09:50:00,0,0,0,0,0,0,9,590,0.000000
19187,광양,112802,11대신호,2022.0,96.0,최종,출항,245,2022-12-31 09:25,2022-12-31 10:25,...,0 days 01:00:00,0,0,0,0,0,0,1,60,0.000000
19188,광양,017884,제1세윤호,2022.0,97.0,최종,출항,141,2022-12-31 09:45,2022-12-31 11:10,...,0 days 01:25:00,0,0,0,0,0,0,1,85,0.000000
19189,광양,3E3614,CHENNAI VOYAGER,2022.0,4.0,최종,출항,"25,637",2022-12-31 13:15,2022-12-31 21:42,...,0 days 08:27:00,0,0,0,0,0,0,8,507,0.000000

In [42]:
result = waiting.groupby('선박용도')['대기율'].mean().to_frame()
result = result.sort_values(by='대기율', ascending=False).reset_index()

In [43]:
result

           선박용도       대기율
0           기타선  0.533659
1   세미(혼재)컨테이너선  0.437394
2         코일전용선  0.330347
3       케미칼 운반선  0.233623
4        핫코일운반선  0.117368
5         모래운반선  0.114838
6       LPG 운반선  0.055048
7       LNG 운반선  0.052952
8         석탄운반선  0.012496
9           여객선  0.005905
10       기타 유조선  0.003157
11        원유운반선  0.002122
12       자동차운반선  0.000791
13        압항 예선  0.000224
14        기타 부선  0.000000
15           군함  0.000000
16        원목운반선  0.000000
17     이.접안용 예선  0.000000
18        광석운반선  0.000000
19          관공선  0.000000
20        견인용예선       NaN
21          급유선       NaN
22        기타 예선       NaN
23     산물선(벌크선)       NaN
24     석유제품 운반선       NaN
25       시멘트운반선       NaN
26        일반화물선       NaN
27   일반화물운반용 부선       NaN
28      철강재 운반선       NaN
29       풀컨테이너선       NaN

In [44]:
waiting.to_csv(directory + '/광양_전처리ver1.csv', encoding = 'utf-8-sig', index = False)

### 이상치 1% 제거

In [45]:
# '대기율' 열에서 상하위 1%에 해당하는 값 구하기
lower_bound = waiting['대기율'].quantile(0.01)
upper_bound = waiting['대기율'].quantile(0.99)

# 상하위 1%에 해당하는 이상치 제거
filtered_waiting = waiting[(waiting['대기율'] >= lower_bound) & (waiting['대기율'] <= upper_bound)]

In [46]:
filtered_waiting['대기율'].describe()

count    18988.000000
mean         0.123489
std          0.450803
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.051724
Name: 대기율, dtype: float64

In [47]:
filtered_waiting.to_csv(directory + '/광양_전처리ver3.csv', encoding = 'utf-8-sig', index = False)