## PORT MIS 샘플데이터 전처리

### 0. 데이터 불러오기

In [1]:
import pandas as pd
import os

# 파일 경로
directory = '../data/인천'

# 3행까지 제거
for filename in os.listdir(directory):
    if filename.startswith("/인천_시설") and filename.endswith(".xlsx"):  # 부산_2022시작하는 파일에 대해서
        file_path = os.path.join(directory, filename)
        df = pd.read_excel(file_path)  # 엑셀 파일을 데이터프레임으로 읽기
        df = df.iloc[3:]  # 상단 3행 삭제
        df.to_excel(file_path, index=False)  # 수정된 데이터프레임을 덮어쓰기

        print(f"{filename} 삭제 완료.", flush=True)  # Added flush=True

In [2]:
import pandas as pd
directory = '../data/인천'

df = pd.read_excel(directory + '/인천_시설_202201.xlsx')
df1 = pd.read_excel(directory + '/인천_시설_202202.xlsx')
df2 = pd.read_excel(directory + '/인천_시설_202203.xlsx')
df3 = pd.read_excel(directory + '/인천_시설_202204.xlsx')
df4 = pd.read_excel(directory + '/인천_시설_202205.xlsx')
df5 = pd.read_excel(directory + '/인천_시설_202206.xlsx')
df6 = pd.read_excel(directory + '/인천_시설_202207.xlsx')
df7 = pd.read_excel(directory + '/인천_시설_202208.xlsx')
df8 = pd.read_excel(directory + '/인천_시설_202209.xlsx')
df9 = pd.read_excel(directory + '/인천_시설_202210.xlsx')
df10 = pd.read_excel(directory + '/인천_시설_202211.xlsx')
df11 = pd.read_excel(directory + '/인천_시설_202212.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
dfs = pd.read_excel(directory + '/인천_입출항_2022.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
dfs = dfs.iloc[11:]  # 상단 11행 삭제

In [5]:
dfs.columns

Index(['선박입출항현황', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [6]:
#dfs.drop(columns = 'z', inplace = True)

In [7]:
dfs.columns = ['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', 'CIQ수속일자', '수리일시', '항해구분', 'MRN 번호', '계선장소_코드', '계선장소_숫자', '계선장소명',
       '차항지', '전출항지', '선박용도', '외항:한국인선원수/내항:해기사선원수', '외항:외국인선원수/내항:보통선원수',
       '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']

In [8]:
combined_df = pd.concat([df, df1, df2, df3, df4, df5,df6,df7, df8,df9,df10,df11], ignore_index=True)
combined_df.columns = ['순번', '호출부호', '입항횟수_연도', '입항횟수_횟수', '시설사용횟수', '신고톤수', '선박명', '선사/대리점_코드',
       '선사/대리점명', '신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)',
       '신청일시(TO)', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무']
combined_df.to_excel(directory + '/부산_combined.xlsx', index=False)

In [9]:
combined_df = combined_df.iloc[3:]

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27888 entries, 3 to 27890
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순번          27866 non-null  object
 1   호출부호        27866 non-null  object
 2   입항횟수_연도     27866 non-null  object
 3   입항횟수_횟수     27866 non-null  object
 4   시설사용횟수      27866 non-null  object
 5   신고톤수        27866 non-null  object
 6   선박명         27866 non-null  object
 7   선사/대리점_코드   27866 non-null  object
 8   선사/대리점명     27866 non-null  object
 9   신청시설_코드     27866 non-null  object
 10  신청시설_번호     27866 non-null  object
 11  신청시설명       27866 non-null  object
 12  신청일시(FROM)  27866 non-null  object
 13  신청일시(TO)    27866 non-null  object
 14  지정시설_코드     27852 non-null  object
 15  지정시설_번호     27852 non-null  object
 16  지정시설명       27852 non-null  object
 17  지정일시(FROM)  27852 non-null  object
 18  지정일시(TO)    27852 non-null  object
 19  사용목적명       27866 non-null  object
 20  예보일시        27866 non-null  object
 21  허가유무        27866 non-null  object
dtypes: object(22)
memory usage: 4.7+ MB

In [11]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29777 entries, 11 to 29787
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   항명                   29777 non-null  object
 1   호출부호                 29777 non-null  object
 2   선박명                  29777 non-null  object
 3   입항횟수_연도              29777 non-null  object
 4   입항횟수_횟수              29777 non-null  object
 5   구분                   29777 non-null  object
 6   외내                   29777 non-null  object
 7   입출                   29777 non-null  object
 8   총톤수                  29773 non-null  object
 9   입항일시                 29777 non-null  object
 10  출항일시                 29777 non-null  object
 11  CIQ수속일자              14607 non-null  object
 12  수리일시                 29752 non-null  object
 13  항해구분                 29774 non-null  object
 14  MRN 번호               13976 non-null  object
 15  계선장소_코드              29773 non-null  object
 16  계선장소_숫자              29773 non-null  object
 17  계선장소명                29773 non-null  object
 18  차항지                  29771 non-null  object
 19  전출항지                 29768 non-null  object
 20  선박용도                 29777 non-null  object
 21  외항:한국인선원수/내항:해기사선원수  20249 non-null  object
 22  외항:외국인선원수/내항:보통선원수   29581 non-null  object
 23  승객                   12659 non-null  object
 24  예선                   29771 non-null  object
 25  도선                   29771 non-null  object
 26  부선호출부호1              4172 non-null   object
 27  부선호출부호2              4 non-null      object
dtypes: object(28)
memory usage: 6.4+ MB

### 1. 컬럼 제거 및 결측치 확인

#### 컬럼 제거(시설허가 : combined_df , 입출항 : dfs)

In [10]:
columns_to_drop = ['신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)', '신청일시(TO)', '선사/대리점_코드', '선사/대리점명']
combined_df.drop(columns=columns_to_drop, inplace=True)

In [11]:
columns_to_drop_dfs = ['외내', 'CIQ수속일자', 'MRN 번호', '차항지', '전출항지','외항:한국인선원수/내항:해기사선원수','외항:외국인선원수/내항:보통선원수', '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']
dfs.drop(columns=columns_to_drop_dfs,inplace=True)

#### 상세처리

- 입출 : 출항만 사용
- 선박용도 > 최종 전처리시 많은 순으로 고려
- 미허가 행 제외

In [12]:
combined_df = combined_df[combined_df['허가유무'] != '미허가']

In [13]:
dfs = dfs[dfs['입출'] == '출항']

### 2. Merge_type 변경 후 Merge

In [14]:
combined_df['입항횟수_횟수'] = pd.to_numeric(combined_df['입항횟수_횟수'], errors='coerce')
combined_df['입항횟수_연도'] = pd.to_numeric(combined_df['입항횟수_연도'], errors='coerce')

dfs['입항횟수_횟수'] = dfs['입항횟수_횟수'].astype(float)
dfs['입항횟수_연도'] = dfs['입항횟수_연도'].astype(float)
combined_df['입항횟수_횟수'] = combined_df['입항횟수_횟수'].astype(float)
combined_df['입항횟수_연도'] = combined_df['입항횟수_연도'].astype(float)

In [15]:
merged_left = pd.merge(dfs, combined_df, on= ['호출부호','선박명','입항횟수_횟수','입항횟수_연도'], how='left') # 입출항, 시설사용허가 left merge
merged_left

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,인천,DSDB3,청수호,2015.0,26.0,최종,출항,249,2015-09-24 23:30,2022-03-03 14:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,012,159,WAA,09,A박지 A09,2022-08-19 11:25,2022-08-24 09:34,기타,2022-10-11,허가완료
2,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,011,159,MWI,02,북항 일도부두(2)_태원기업,2022-08-19 10:35,2022-08-19 10:40,기타,2022-10-11,허가완료
3,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,013,159,MBS,01,북항부두(북성동): 선광공사,2022-08-24 10:45,2022-08-24 16:30,기타,2022-10-11,허가완료
4,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,014,159,MFG,01,연안항 역무선부두 잔교,2022-08-24 20:33,2022-08-25 11:03,기타,2022-10-11,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26997,인천,D8BF,HANSUNG INCHEON,2022.0,150.0,최종,출항,"5,888",2022-12-31 11:00,2022-12-31 21:25,...,001,5.888,MSB,03,신항 선광신컨테이너터미널 3선석,2022-12-31 11:00,2022-12-31 23:00,양적하,2022-12-29,허가완료
26998,인천,BOLV4,XIN XIANG XUE LAN,2022.0,151.0,최종,출항,"32,729",2022-12-31 11:20,2022-12-31 18:30,...,001,32.729,MBP,15,남항 신국제여객부두 5선석,2022-12-31 11:30,2022-12-31 21:00,양적하,2022-12-30,허가완료
26999,인천,3FRT8,BIRYONG,2022.0,127.0,최종,출항,"14,614",2022-12-31 11:40,2022-12-31 17:40,...,001,14.614,MBP,12,남항 신국제여객부두 2선석,2022-12-31 11:30,2022-12-31 18:00,양적하,2022-12-30,허가완료
27000,인천,HPUO,NEW GOLDEN BRIDGE V,2022.0,150.0,최종,출항,"29,554",2022-12-31 12:06,2022-12-31 19:30,...,001,29.554,MBP,14,남항 신국제여객부두 4선석,2022-12-31 12:00,2022-12-31 18:40,양적하,2022-12-30,허가완료
27001,인천,BATI,YA LU JIANG,2022.0,75.0,최종,출항,"5,250",2022-12-31 12:36,2022-12-31 20:00,...,001,5.250,MSB,02,신항 선광신컨테이너터미널 2선석,2022-12-31 13:00,2022-12-31 22:00,양적하,2022-12-29,허가완료

#### 중복된 행 제거

In [16]:
# 중복된 행, unique값만 남기기
unique_values = merged_left.drop_duplicates()

In [17]:
unique_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27002 entries, 0 to 27001
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   항명          27002 non-null  object
 1   호출부호        27002 non-null  object
 2   선박명         27002 non-null  object
 3   입항횟수_연도     27002 non-null  float64
 4   입항횟수_횟수     27002 non-null  float64
 5   구분          27002 non-null  object
 6   입출          27002 non-null  object
 7   총톤수         27001 non-null  object
 8   입항일시        27002 non-null  object
 9   출항일시        27002 non-null  object
 10  수리일시        26924 non-null  object
 11  항해구분        27001 non-null  object
 12  계선장소_코드     27001 non-null  object
 13  계선장소_숫자     27001 non-null  object
 14  계선장소명       27001 non-null  object
 15  선박용도        27002 non-null  object
 16  순번          26776 non-null  object
 17  시설사용횟수      26776 non-null  object
 18  신고톤수        26776 non-null  object
 19  지정시설_코드     26776 non-null  object
 20  지정시설_번호     26776 non-null  object
 21  지정시설명       26776 non-null  object
 22  지정일시(FROM)  26776 non-null  object
 23  지정일시(TO)    26776 non-null  object
 24  사용목적명       26776 non-null  object
 25  예보일시        26776 non-null  object
 26  허가유무        26776 non-null  object
dtypes: float64(2), object(25)
memory usage: 5.8+ MB

In [18]:
unique_values.isna().sum() # 계선장소, 예선, 도선, 차항지

항명              0
호출부호            0
선박명             0
입항횟수_연도         0
입항횟수_횟수         0
구분              0
입출              0
총톤수             1
입항일시            0
출항일시            0
수리일시           78
항해구분            1
계선장소_코드         1
계선장소_숫자         1
계선장소명           1
선박용도            0
순번            226
시설사용횟수        226
신고톤수          226
지정시설_코드       226
지정시설_번호       226
지정시설명         226
지정일시(FROM)    226
지정일시(TO)      226
사용목적명         226
예보일시          226
허가유무          226
dtype: int64

In [19]:
unique_values.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무'],
      dtype='object')

In [20]:
unique_values

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,인천,DSDB3,청수호,2015.0,26.0,최종,출항,249,2015-09-24 23:30,2022-03-03 14:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,012,159,WAA,09,A박지 A09,2022-08-19 11:25,2022-08-24 09:34,기타,2022-10-11,허가완료
2,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,011,159,MWI,02,북항 일도부두(2)_태원기업,2022-08-19 10:35,2022-08-19 10:40,기타,2022-10-11,허가완료
3,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,013,159,MBS,01,북항부두(북성동): 선광공사,2022-08-24 10:45,2022-08-24 16:30,기타,2022-10-11,허가완료
4,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,014,159,MFG,01,연안항 역무선부두 잔교,2022-08-24 20:33,2022-08-25 11:03,기타,2022-10-11,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26997,인천,D8BF,HANSUNG INCHEON,2022.0,150.0,최종,출항,"5,888",2022-12-31 11:00,2022-12-31 21:25,...,001,5.888,MSB,03,신항 선광신컨테이너터미널 3선석,2022-12-31 11:00,2022-12-31 23:00,양적하,2022-12-29,허가완료
26998,인천,BOLV4,XIN XIANG XUE LAN,2022.0,151.0,최종,출항,"32,729",2022-12-31 11:20,2022-12-31 18:30,...,001,32.729,MBP,15,남항 신국제여객부두 5선석,2022-12-31 11:30,2022-12-31 21:00,양적하,2022-12-30,허가완료
26999,인천,3FRT8,BIRYONG,2022.0,127.0,최종,출항,"14,614",2022-12-31 11:40,2022-12-31 17:40,...,001,14.614,MBP,12,남항 신국제여객부두 2선석,2022-12-31 11:30,2022-12-31 18:00,양적하,2022-12-30,허가완료
27000,인천,HPUO,NEW GOLDEN BRIDGE V,2022.0,150.0,최종,출항,"29,554",2022-12-31 12:06,2022-12-31 19:30,...,001,29.554,MBP,14,남항 신국제여객부두 4선석,2022-12-31 12:00,2022-12-31 18:40,양적하,2022-12-30,허가완료
27001,인천,BATI,YA LU JIANG,2022.0,75.0,최종,출항,"5,250",2022-12-31 12:36,2022-12-31 20:00,...,001,5.250,MSB,02,신항 선광신컨테이너터미널 2선석,2022-12-31 13:00,2022-12-31 22:00,양적하,2022-12-29,허가완료

### 3. 대기시간, 서비스시간 컬럼생성(Entry > Anchor > Berth > Departure)

In [21]:
temp = unique_values.copy()

In [22]:
# 데이터 타입으로 변경 , 잘못된 값 제거(6311 인덱스)
temp['지정일시(TO)'] = pd.to_datetime(temp['지정일시(TO)'], errors='coerce')
temp['지정일시(FROM)'] = pd.to_datetime(temp['지정일시(FROM)'], errors='coerce')

In [23]:
# 접안 대기시간,출항 대기시간 계산
temp['접안_대기시간'] = pd.NaT
temp['출항_대기시간'] = pd.NaT

temp.loc[temp['사용목적명'] == '접안대기', '접안_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']
temp.loc[temp['사용목적명'] == '출항대기', '출항_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']

In [24]:
temp.head()

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간
0,인천,DSDB3,청수호,2015.0,26.0,최종,출항,249,2015-09-24 23:30,2022-03-03 14:50,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT
1,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,WAA,09,A박지 A09,2022-08-19 11:25:00,2022-08-24 09:34:00,기타,2022-10-11,허가완료,NaT,NaT
2,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,MWI,02,북항 일도부두(2)_태원기업,2022-08-19 10:35:00,2022-08-19 10:40:00,기타,2022-10-11,허가완료,NaT,NaT
3,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,MBS,01,북항부두(북성동): 선광공사,2022-08-24 10:45:00,2022-08-24 16:30:00,기타,2022-10-11,허가완료,NaT,NaT
4,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,MFG,01,연안항 역무선부두 잔교,2022-08-24 20:33:00,2022-08-25 11:03:00,기타,2022-10-11,허가완료,NaT,NaT

#### Departure 생성

- 출항대기시간 null 값인 경우에는, Departure 값이 '출항일시' 값
- 사용목적명이 '출항대기'일 경우에 Departure 값이 '신청일시(FROM)' 값으로

In [25]:
import numpy as np

# 'Service_Time_End' 열 생성
temp['Service_Time_End'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Service_Time_End' 값 할당
temp.loc[temp['사용목적명'] == '출항대기', 'Service_Time_End'] = temp['지정일시(FROM)']

# '출항_대기시간'이 null인 경우 'Service_Time_End' 값 할당
temp.loc[temp['출항_대기시간'].isnull(),'Service_Time_End'] = temp['출항일시']

In [26]:
temp.head(15)

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End
0,인천,DSDB3,청수호,2015.0,26.0,최종,출항,249,2015-09-24 23:30,2022-03-03 14:50,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-03-03 14:50
1,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,09,A박지 A09,2022-08-19 11:25:00,2022-08-24 09:34:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
2,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,02,북항 일도부두(2)_태원기업,2022-08-19 10:35:00,2022-08-19 10:40:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
3,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,북항부두(북성동): 선광공사,2022-08-24 10:45:00,2022-08-24 16:30:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
4,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,연안항 역무선부두 잔교,2022-08-24 20:33:00,2022-08-25 11:03:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
5,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,송도 한국가스공사1돌핀,2022-08-25 12:05:00,2022-08-25 17:30:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
6,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,남항 모래부두,2022-08-25 18:17:00,2022-08-26 02:00:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
7,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,연안항 역무선부두 잔교,2022-08-26 02:47:00,2022-08-26 14:39:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
8,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,북항부두(북성동): 선광공사,2022-08-26 15:40:00,2022-08-26 16:00:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
9,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,송도 한국가스공사1돌핀,2022-08-26 19:45:00,2022-08-26 20:00:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
10,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,연안항 역무선부두 잔교,2022-08-26 20:52:00,2022-08-27 14:52:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
11,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,북항부두(북성동): 선광공사,2022-08-27 16:00:00,2022-09-16 20:30:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
12,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,송도 한국가스공사1돌핀,2022-09-16 23:00:00,2022-09-17 08:00:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
13,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,연안항 역무선부두 잔교,2022-09-17 08:50:00,2022-09-19 08:40:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30
14,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,01,송도 한국가스공사1돌핀,2022-09-19 10:23:00,2022-09-19 12:06:00,기타,2022-10-11,허가완료,NaT,NaT,2022-10-08 03:30

#### Anchor = 접안대기

In [27]:
temp['Anchor'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Anchor' 값 할당
temp.loc[temp['사용목적명'] == '접안대기', 'Anchor'] = temp['지정일시(TO)']

In [28]:
temp['Service_Time_Start'] = np.where(temp['Anchor'].isnull(), temp['입항일시'], temp['Anchor'])

In [29]:
# 문자열을 datetime으로 변환
temp['Service_Time_End'] = pd.to_datetime(temp['Service_Time_End'])
temp['Service_Time_Start'] = pd.to_datetime(temp['Service_Time_Start'])
temp['Service_Time'] = temp['Service_Time_End'] - temp['Service_Time_Start']

In [30]:
temp

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End,Anchor,Service_Time_Start,Service_Time
0,인천,DSDB3,청수호,2015.0,26.0,최종,출항,249,2015-09-24 23:30,2022-03-03 14:50,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-03-03 14:50:00,NaN,2015-09-24 23:30:00,2351 days 15:20:00
1,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,2022-08-24 09:34:00,기타,2022-10-11,허가완료,NaN,NaN,2022-10-08 03:30:00,NaN,2019-08-09 18:32:00,1155 days 08:58:00
2,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,2022-08-19 10:40:00,기타,2022-10-11,허가완료,NaN,NaN,2022-10-08 03:30:00,NaN,2019-08-09 18:32:00,1155 days 08:58:00
3,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,2022-08-24 16:30:00,기타,2022-10-11,허가완료,NaN,NaN,2022-10-08 03:30:00,NaN,2019-08-09 18:32:00,1155 days 08:58:00
4,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,2022-08-25 11:03:00,기타,2022-10-11,허가완료,NaN,NaN,2022-10-08 03:30:00,NaN,2019-08-09 18:32:00,1155 days 08:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26997,인천,D8BF,HANSUNG INCHEON,2022.0,150.0,최종,출항,"5,888",2022-12-31 11:00,2022-12-31 21:25,...,2022-12-31 23:00:00,양적하,2022-12-29,허가완료,NaN,NaN,2022-12-31 21:25:00,NaN,2022-12-31 11:00:00,0 days 10:25:00
26998,인천,BOLV4,XIN XIANG XUE LAN,2022.0,151.0,최종,출항,"32,729",2022-12-31 11:20,2022-12-31 18:30,...,2022-12-31 21:00:00,양적하,2022-12-30,허가완료,NaN,NaN,2022-12-31 18:30:00,NaN,2022-12-31 11:20:00,0 days 07:10:00
26999,인천,3FRT8,BIRYONG,2022.0,127.0,최종,출항,"14,614",2022-12-31 11:40,2022-12-31 17:40,...,2022-12-31 18:00:00,양적하,2022-12-30,허가완료,NaN,NaN,2022-12-31 17:40:00,NaN,2022-12-31 11:40:00,0 days 06:00:00
27000,인천,HPUO,NEW GOLDEN BRIDGE V,2022.0,150.0,최종,출항,"29,554",2022-12-31 12:06,2022-12-31 19:30,...,2022-12-31 18:40:00,양적하,2022-12-30,허가완료,NaN,NaN,2022-12-31 19:30:00,NaN,2022-12-31 12:06:00,0 days 07:24:00
27001,인천,BATI,YA LU JIANG,2022.0,75.0,최종,출항,"5,250",2022-12-31 12:36,2022-12-31 20:00,...,2022-12-31 22:00:00,양적하,2022-12-29,허가완료,NaN,NaN,2022-12-31 20:00:00,NaN,2022-12-31 12:36:00,0 days 07:24:00

### 서비스타임,대기율, 용도별 대기율(컨테이터/비컨테이너)

In [31]:
waiting = temp.copy()

In [32]:
waiting['접안_대기시간'].fillna(0, inplace = True)

In [33]:
# import pandas as pd

# # 데이터프레임에서 '접안_대기시간'과 'Service_Time' 컬럼을 timedelta 형식으로 변환
waiting['접안_대기시간'] = pd.to_timedelta(waiting['접안_대기시간'])
waiting['Service_Time'] = pd.to_timedelta(waiting['Service_Time'])

# timedelta 값에서 일(day)로 변환
waiting['접안_대기시간_NumDays'] = waiting['접안_대기시간'].dt.days
waiting['Service_Time_NumDays'] = waiting['Service_Time'].dt.days

In [34]:
# '접안_대기시간' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['접안_대기시간_일'] = waiting['접안_대기시간'].dt.days
waiting['접안_대기시간_시간'] = waiting['접안_대기시간'].dt.components.hours
waiting['접안_대기시간_분'] = waiting['접안_대기시간'].dt.components.minutes
# 'Service_Time' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['Service_Time_일'] = waiting['Service_Time'].dt.days
waiting['Service_Time_시간'] = waiting['Service_Time'].dt.components.hours
waiting['Service_Time_분'] = waiting['Service_Time'].dt.components.minutes

# 'Service_Time'을 분으로 변환하여 'Service_Time_분' 열에 추가
waiting['Service_Time_분'] = waiting['Service_Time_일'] * 24 * 60 + waiting['Service_Time_시간'] * 60 + waiting['Service_Time_분']

# '접안_대기시간'을 분으로 변환하여 '접안_대기시간_분' 열에 추가
waiting['접안_대기시간_분'] = waiting['접안_대기시간_일'] * 24 * 60 + waiting['접안_대기시간_시간'] * 60 + waiting['접안_대기시간_분']

In [35]:
waiting['대기율'] = waiting['접안_대기시간_분'] / waiting['Service_Time_분']

In [36]:
waiting['대기율'].describe()

count    26978.0
mean         inf
std          NaN
min       -139.0
25%          0.0
50%          0.0
75%          0.0
max          inf
Name: 대기율, dtype: float64

In [37]:
waiting['대기율'].fillna(0, inplace = True)

In [38]:
waiting['대기율'].mean()

inf

In [39]:
waiting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27002 entries, 0 to 27001
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   항명                    27002 non-null  object
 1   호출부호                  27002 non-null  object
 2   선박명                   27002 non-null  object
 3   입항횟수_연도               27002 non-null  float64
 4   입항횟수_횟수               27002 non-null  float64
 5   구분                    27002 non-null  object
 6   입출                    27002 non-null  object
 7   총톤수                   27001 non-null  object
 8   입항일시                  27002 non-null  object
 9   출항일시                  27002 non-null  object
 10  수리일시                  26924 non-null  object
 11  항해구분                  27001 non-null  object
 12  계선장소_코드               27001 non-null  object
 13  계선장소_숫자               27001 non-null  object
 14  계선장소명                 27001 non-null  object
 15  선박용도                  27002 non-null  object
 16  순번                    26776 non-null  object
 17  시설사용횟수                26776 non-null  object
 18  신고톤수                  26776 non-null  object
 19  지정시설_코드               26776 non-null  object
 20  지정시설_번호               26776 non-null  object
 21  지정시설명                 26776 non-null  object
 22  지정일시(FROM)            26775 non-null  datetime64[ns]
 23  지정일시(TO)              26775 non-null  datetime64[ns]
 24  사용목적명                 26776 non-null  object
 25  예보일시                  26776 non-null  object
 26  허가유무                  26776 non-null  object
 27  접안_대기시간               27002 non-null  timedelta64[ns]
 28  출항_대기시간               891 non-null    object
 29  Service_Time_End      27002 non-null  datetime64[ns]
 30  Anchor                4133 non-null   object
 31  Service_Time_Start    27002 non-null  datetime64[ns]
 32  Service_Time          27002 non-null  timedelta64[ns]
 33  접안_대기시간_NumDays       27002 non-null  int64
 34  Service_Time_NumDays  27002 non-null  int64
 35  접안_대기시간_일             27002 non-null  int64
 36  접안_대기시간_시간            27002 non-null  int64
 37  접안_대기시간_분             27002 non-null  int64
 38  Service_Time_일        27002 non-null  int64
 39  Service_Time_시간       27002 non-null  int64
 40  Service_Time_분        27002 non-null  int64
 41  대기율                   27002 non-null  float64
dtypes: datetime64[ns](4), float64(3), int64(8), object(25), timedelta64[ns](2)
memory usage: 9.9+ MB

In [40]:
waiting.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무', '접안_대기시간', '출항_대기시간',
       'Service_Time_End', 'Anchor', 'Service_Time_Start', 'Service_Time',
       '접안_대기시간_NumDays', 'Service_Time_NumDays', '접안_대기시간_일', '접안_대기시간_시간',
       '접안_대기시간_분', 'Service_Time_일', 'Service_Time_시간', 'Service_Time_분',
       '대기율'],
      dtype='object')

In [41]:
waiting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27002 entries, 0 to 27001
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   항명                    27002 non-null  object
 1   호출부호                  27002 non-null  object
 2   선박명                   27002 non-null  object
 3   입항횟수_연도               27002 non-null  float64
 4   입항횟수_횟수               27002 non-null  float64
 5   구분                    27002 non-null  object
 6   입출                    27002 non-null  object
 7   총톤수                   27001 non-null  object
 8   입항일시                  27002 non-null  object
 9   출항일시                  27002 non-null  object
 10  수리일시                  26924 non-null  object
 11  항해구분                  27001 non-null  object
 12  계선장소_코드               27001 non-null  object
 13  계선장소_숫자               27001 non-null  object
 14  계선장소명                 27001 non-null  object
 15  선박용도                  27002 non-null  object
 16  순번                    26776 non-null  object
 17  시설사용횟수                26776 non-null  object
 18  신고톤수                  26776 non-null  object
 19  지정시설_코드               26776 non-null  object
 20  지정시설_번호               26776 non-null  object
 21  지정시설명                 26776 non-null  object
 22  지정일시(FROM)            26775 non-null  datetime64[ns]
 23  지정일시(TO)              26775 non-null  datetime64[ns]
 24  사용목적명                 26776 non-null  object
 25  예보일시                  26776 non-null  object
 26  허가유무                  26776 non-null  object
 27  접안_대기시간               27002 non-null  timedelta64[ns]
 28  출항_대기시간               891 non-null    object
 29  Service_Time_End      27002 non-null  datetime64[ns]
 30  Anchor                4133 non-null   object
 31  Service_Time_Start    27002 non-null  datetime64[ns]
 32  Service_Time          27002 non-null  timedelta64[ns]
 33  접안_대기시간_NumDays       27002 non-null  int64
 34  Service_Time_NumDays  27002 non-null  int64
 35  접안_대기시간_일             27002 non-null  int64
 36  접안_대기시간_시간            27002 non-null  int64
 37  접안_대기시간_분             27002 non-null  int64
 38  Service_Time_일        27002 non-null  int64
 39  Service_Time_시간       27002 non-null  int64
 40  Service_Time_분        27002 non-null  int64
 41  대기율                   27002 non-null  float64
dtypes: datetime64[ns](4), float64(3), int64(8), object(25), timedelta64[ns](2)
memory usage: 9.9+ MB

In [42]:
q99 = np.percentile(waiting['대기율'], 99)  
outliers = waiting[waiting['대기율'] > q99]

# 이상치 제외한 데이터 생성
filtered_data = waiting[waiting['대기율'] <= q99]  # 상위 1%의 이상치를 제외한 데이터

In [43]:
filtered_data['대기율'].mean()

0.034019533348008495

In [44]:
waiting

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,Service_Time,접안_대기시간_NumDays,Service_Time_NumDays,접안_대기시간_일,접안_대기시간_시간,접안_대기시간_분,Service_Time_일,Service_Time_시간,Service_Time_분,대기율
0,인천,DSDB3,청수호,2015.0,26.0,최종,출항,249,2015-09-24 23:30,2022-03-03 14:50,...,2351 days 15:20:00,0,2351,0,0,0,2351,15,3386360,0.0
1,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,1155 days 08:58:00,0,1155,0,0,0,1155,8,1663738,0.0
2,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,1155 days 08:58:00,0,1155,0,0,0,1155,8,1663738,0.0
3,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,1155 days 08:58:00,0,1155,0,0,0,1155,8,1663738,0.0
4,인천,034336,한진101호,2019.0,1.0,최종,출항,159,2019-08-09 18:32,2022-10-08 03:30,...,1155 days 08:58:00,0,1155,0,0,0,1155,8,1663738,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26997,인천,D8BF,HANSUNG INCHEON,2022.0,150.0,최종,출항,"5,888",2022-12-31 11:00,2022-12-31 21:25,...,0 days 10:25:00,0,0,0,0,0,0,10,625,0.0
26998,인천,BOLV4,XIN XIANG XUE LAN,2022.0,151.0,최종,출항,"32,729",2022-12-31 11:20,2022-12-31 18:30,...,0 days 07:10:00,0,0,0,0,0,0,7,430,0.0
26999,인천,3FRT8,BIRYONG,2022.0,127.0,최종,출항,"14,614",2022-12-31 11:40,2022-12-31 17:40,...,0 days 06:00:00,0,0,0,0,0,0,6,360,0.0
27000,인천,HPUO,NEW GOLDEN BRIDGE V,2022.0,150.0,최종,출항,"29,554",2022-12-31 12:06,2022-12-31 19:30,...,0 days 07:24:00,0,0,0,0,0,0,7,444,0.0
27001,인천,BATI,YA LU JIANG,2022.0,75.0,최종,출항,"5,250",2022-12-31 12:36,2022-12-31 20:00,...,0 days 07:24:00,0,0,0,0,0,0,7,444,0.0

In [45]:
result = waiting.groupby('선박용도')['대기율'].mean().to_frame()
result = result.sort_values(by='대기율', ascending=False).reset_index()

In [46]:
result

           선박용도       대기율
0   세미(혼재)컨테이너선  2.776012
1       철강재 운반선  2.567786
2       LPG 운반선  0.555255
3        기타 유조선  0.426873
4         원유운반선  0.343648
5           화객선  0.250295
6         원양 어선  0.201057
7       케미칼 운반선  0.175567
8           관공선  0.020987
9        자동차운반선  0.017291
10      LNG 운반선  0.011955
11        국제카페리  0.006552
12          여객선  0.003133
13          신조선  0.000000
14     모래운반용 부선  0.000000
15          기타선  0.000000
16          유람선  0.000000
17     이.접안용 예선  0.000000
18          급유선  0.000000
19          준설선  0.000000
20        광석운반선  0.000000
21    케미칼가스 운반선  0.000000
22      폐기물 운반선  0.000000
23          용달선  0.000000
24        견인용예선       NaN
25        기타 예선       NaN
26        모래운반선       NaN
27     산물선(벌크선)       NaN
28     석유제품 운반선       NaN
29       시멘트운반선       NaN
30        압항 예선       NaN
31        일반화물선       NaN
32       풀컨테이너선       NaN

In [47]:
waiting.to_csv(directory + '/인천_전처리ver1.csv', encoding = 'utf-8-sig', index = False)

#### 이상치 제거

In [48]:
# '대기율' 열에서 상하위 1%에 해당하는 값 구하기
lower_bound = waiting['대기율'].quantile(0.01)
upper_bound = waiting['대기율'].quantile(0.99)

# 상하위 1%에 해당하는 이상치 제거
filtered_waiting = waiting[(waiting['대기율'] >= lower_bound) & (waiting['대기율'] <= upper_bound)]

In [49]:
filtered_waiting['대기율'].describe()

count    26632.000000
mean         0.110807
std          0.462210
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          5.216049
Name: 대기율, dtype: float64

In [50]:
filtered_waiting.to_csv(directory + '/인천_전처리ver3.csv', encoding = 'utf-8-sig', index = False)