## PORT MIS 샘플데이터 전처리

### 0. 데이터 불러오기

In [1]:
import pandas as pd
import os

# 파일 경로
directory = '../data/울산'

# # 3행까지 제거
# for filename in os.listdir(directory):
#     if filename.startswith("/울산_시설") and filename.endswith(".xlsx"):  # 부산_2022시작하는 파일에 대해서
#         file_path = os.path.join(directory, filename)
#         df = pd.read_excel(file_path)  # 엑셀 파일을 데이터프레임으로 읽기
#         df = df.iloc[3:]  # 상단 3행 삭제
#         df.to_excel(file_path, index=False)  # 수정된 데이터프레임을 덮어쓰기

#         print(f"{filename} 삭제 완료.", flush=True)  # Added flush=True

In [2]:
import pandas as pd
directory = '../data/울산'

df = pd.read_excel(directory + '/울산_시설_202201.xlsx')
df1 = pd.read_excel(directory + '/울산_시설_202202.xlsx')
df2 = pd.read_excel(directory + '/울산_시설_202203.xlsx')
df3 = pd.read_excel(directory + '/울산_시설_202204.xlsx')
df4 = pd.read_excel(directory + '/울산_시설_202205.xlsx')
df5 = pd.read_excel(directory + '/울산_시설_202206.xlsx')
df6 = pd.read_excel(directory + '/울산_시설_202207.xlsx')
df7 = pd.read_excel(directory + '/울산_시설_202208.xlsx')
df8 = pd.read_excel(directory + '/울산_시설_202209.xlsx')
df9 = pd.read_excel(directory + '/울산_시설_202210.xlsx')
df10 = pd.read_excel(directory + '/울산_시설_202211.xlsx')
df11 = pd.read_excel(directory + '/울산_시설_202212.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
dfs = pd.read_excel(directory + '/울산_입출항_2022.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
dfs = dfs.iloc[11:]  # 상단 11행 삭제

In [5]:
dfs.columns

Index(['선박입출항현황', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [6]:
#dfs.drop(columns = 'z', inplace = True)

In [7]:
dfs.columns = ['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', 'CIQ수속일자', '수리일시', '항해구분', 'MRN 번호', '계선장소_코드', '계선장소_숫자', '계선장소명',
       '차항지', '전출항지', '선박용도', '외항:한국인선원수/내항:해기사선원수', '외항:외국인선원수/내항:보통선원수',
       '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']

In [8]:
combined_df = pd.concat([df, df1, df2, df3, df4, df5,df6,df7, df8,df9,df10,df11], ignore_index=True)
combined_df.columns = ['순번', '호출부호', '입항횟수_연도', '입항횟수_횟수', '시설사용횟수', '신고톤수', '선박명', '선사/대리점_코드',
       '선사/대리점명', '신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)',
       '신청일시(TO)', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무']
combined_df.to_excel(directory + '/부산_combined.xlsx', index=False)

In [9]:
combined_df = combined_df.iloc[3:]

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50259 entries, 3 to 50261
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순번          50237 non-null  object
 1   호출부호        50237 non-null  object
 2   입항횟수_연도     50237 non-null  object
 3   입항횟수_횟수     50237 non-null  object
 4   시설사용횟수      50237 non-null  object
 5   신고톤수        50237 non-null  object
 6   선박명         50237 non-null  object
 7   선사/대리점_코드   50237 non-null  object
 8   선사/대리점명     50237 non-null  object
 9   신청시설_코드     50237 non-null  object
 10  신청시설_번호     50237 non-null  object
 11  신청시설명       50237 non-null  object
 12  신청일시(FROM)  50237 non-null  object
 13  신청일시(TO)    50237 non-null  object
 14  지정시설_코드     50208 non-null  object
 15  지정시설_번호     50208 non-null  object
 16  지정시설명       50208 non-null  object
 17  지정일시(FROM)  50208 non-null  object
 18  지정일시(TO)    50208 non-null  object
 19  사용목적명       50237 non-null  object
 20  예보일시        50237 non-null  object
 21  허가유무        50237 non-null  object
dtypes: object(22)
memory usage: 8.4+ MB

In [11]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48808 entries, 11 to 48818
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   항명                   48808 non-null  object
 1   호출부호                 48808 non-null  object
 2   선박명                  48808 non-null  object
 3   입항횟수_연도              48808 non-null  object
 4   입항횟수_횟수              48808 non-null  object
 5   구분                   48808 non-null  object
 6   외내                   48808 non-null  object
 7   입출                   48808 non-null  object
 8   총톤수                  48719 non-null  object
 9   입항일시                 48808 non-null  object
 10  출항일시                 48805 non-null  object
 11  CIQ수속일자              24537 non-null  object
 12  수리일시                 48779 non-null  object
 13  항해구분                 48799 non-null  object
 14  MRN 번호               20418 non-null  object
 15  계선장소_코드              48715 non-null  object
 16  계선장소_숫자              48715 non-null  object
 17  계선장소명                48715 non-null  object
 18  차항지                  48712 non-null  object
 19  전출항지                 48621 non-null  object
 20  선박용도                 48808 non-null  object
 21  외항:한국인선원수/내항:해기사선원수  38867 non-null  object
 22  외항:외국인선원수/내항:보통선원수   48542 non-null  object
 23  승객                   23982 non-null  object
 24  예선                   48712 non-null  object
 25  도선                   48712 non-null  object
 26  부선호출부호1              3489 non-null   object
 27  부선호출부호2              2 non-null      object
dtypes: object(28)
memory usage: 10.4+ MB

### 1. 컬럼 제거 및 결측치 확인

#### 컬럼 제거(시설허가 : combined_df , 입출항 : dfs)

In [10]:
columns_to_drop = ['신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)', '신청일시(TO)', '선사/대리점_코드', '선사/대리점명']
combined_df.drop(columns=columns_to_drop, inplace=True)

In [11]:
columns_to_drop_dfs = ['외내', 'CIQ수속일자', 'MRN 번호', '차항지', '전출항지','외항:한국인선원수/내항:해기사선원수','외항:외국인선원수/내항:보통선원수', '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']
dfs.drop(columns=columns_to_drop_dfs,inplace=True)

#### 상세처리

- 입출 : 출항만 사용
- 선박용도 > 최종 전처리시 많은 순으로 고려
- 미허가 행 제외

In [12]:
combined_df = combined_df[combined_df['허가유무'] != '미허가']

In [13]:
dfs = dfs[dfs['입출'] == '출항']

### 2. Merge_type 변경 후 Merge

In [14]:
combined_df['입항횟수_횟수'] = pd.to_numeric(combined_df['입항횟수_횟수'], errors='coerce')
combined_df['입항횟수_연도'] = pd.to_numeric(combined_df['입항횟수_연도'], errors='coerce')

dfs['입항횟수_횟수'] = dfs['입항횟수_횟수'].astype(float)
dfs['입항횟수_연도'] = dfs['입항횟수_연도'].astype(float)
combined_df['입항횟수_횟수'] = combined_df['입항횟수_횟수'].astype(float)
combined_df['입항횟수_연도'] = combined_df['입항횟수_연도'].astype(float)

In [15]:
merged_left = pd.merge(dfs, combined_df, on= ['호출부호','선박명','입항횟수_횟수','입항횟수_연도'], how='left') # 입출항, 시설사용허가 left merge
merged_left

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,울산,936013,해바다201호,2010.0,1.0,최종,출항,11,2010-11-10 06:00,2022-03-28 05:55,...,001,11,MLJ,01,장생포호안,2010-11-10 06:00,2022-03-28 05:55,기타,2022-04-20,허가완료
1,울산,814441,에스엠103호,2012.0,1.0,최종,출항,19.77,2012-04-28 19:00,2022-10-14 10:31,...,001,19,MLJ,01,장생포호안,2012-04-08 19:00,2022-10-14 10:31,기타,2022-11-29,허가완료
2,울산,070157,골든씨2호,2012.0,1.0,최종,출항,24,2012-11-17 09:00,2022-10-21 15:13,...,001,24,MLJ,01,장생포호안,2012-11-17 09:00,2022-10-21 15:13,기타,2022-11-01,허가완료
3,울산,134802,해바다206호,2012.0,1.0,최종,출항,10,2012-12-25 06:00,2022-03-28 05:55,...,001,10,MLJ,01,장생포호안,2012-12-25 00:00,2022-03-28 05:00,기타,2022-04-21,허가완료
4,울산,144808,케이101호,2014.0,1.0,최종,출항,151,2014-07-20 12:10,2022-09-28 05:40,...,001,151,MBM,01,매암부두,2014-07-20 12:10,2022-09-28 05:40,기타,2022-11-01,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49617,울산,130064,에이원,2022.0,114.0,최종,출항,431,2022-12-31 09:45,2022-12-31 16:15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49618,울산,HOXG,SPRING NOTE,2022.0,31.0,최종,출항,"2,579",2022-12-31 10:05,2022-12-31 20:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49619,울산,200013,유성,2022.0,142.0,최종,출항,"1,998",2022-12-31 15:55,2022-12-31 23:15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49620,울산,066597,한성8호,2022.0,22.0,최종,출항,164,2022-12-31 17:55,2022-12-31 20:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49621,울산,038256,태천2호,2022.0,69.0,최종,출항,456,2022-12-31 18:00,2022-12-31 21:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 중복된 행 제거

In [16]:
# 중복된 행, unique값만 남기기
unique_values = merged_left.drop_duplicates()

In [17]:
unique_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49622 entries, 0 to 49621
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   항명          49622 non-null  object
 1   호출부호        49622 non-null  object
 2   선박명         49622 non-null  object
 3   입항횟수_연도     49622 non-null  float64
 4   입항횟수_횟수     49622 non-null  float64
 5   구분          49622 non-null  object
 6   입출          49622 non-null  object
 7   총톤수         49622 non-null  object
 8   입항일시        49622 non-null  object
 9   출항일시        49622 non-null  object
 10  수리일시        49614 non-null  object
 11  항해구분        49622 non-null  object
 12  계선장소_코드     49622 non-null  object
 13  계선장소_숫자     49622 non-null  object
 14  계선장소명       49622 non-null  object
 15  선박용도        49622 non-null  object
 16  순번          49133 non-null  object
 17  시설사용횟수      49133 non-null  object
 18  신고톤수        49133 non-null  object
 19  지정시설_코드     49133 non-null  object
 20  지정시설_번호     49133 non-null  object
 21  지정시설명       49133 non-null  object
 22  지정일시(FROM)  49133 non-null  object
 23  지정일시(TO)    49133 non-null  object
 24  사용목적명       49133 non-null  object
 25  예보일시        49133 non-null  object
 26  허가유무        49133 non-null  object
dtypes: float64(2), object(25)
memory usage: 10.6+ MB

In [18]:
unique_values.isna().sum() # 계선장소, 예선, 도선, 차항지

항명              0
호출부호            0
선박명             0
입항횟수_연도         0
입항횟수_횟수         0
구분              0
입출              0
총톤수             0
입항일시            0
출항일시            0
수리일시            8
항해구분            0
계선장소_코드         0
계선장소_숫자         0
계선장소명           0
선박용도            0
순번            489
시설사용횟수        489
신고톤수          489
지정시설_코드       489
지정시설_번호       489
지정시설명         489
지정일시(FROM)    489
지정일시(TO)      489
사용목적명         489
예보일시          489
허가유무          489
dtype: int64

In [19]:
unique_values.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무'],
      dtype='object')

In [20]:
unique_values

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,울산,936013,해바다201호,2010.0,1.0,최종,출항,11,2010-11-10 06:00,2022-03-28 05:55,...,001,11,MLJ,01,장생포호안,2010-11-10 06:00,2022-03-28 05:55,기타,2022-04-20,허가완료
1,울산,814441,에스엠103호,2012.0,1.0,최종,출항,19.77,2012-04-28 19:00,2022-10-14 10:31,...,001,19,MLJ,01,장생포호안,2012-04-08 19:00,2022-10-14 10:31,기타,2022-11-29,허가완료
2,울산,070157,골든씨2호,2012.0,1.0,최종,출항,24,2012-11-17 09:00,2022-10-21 15:13,...,001,24,MLJ,01,장생포호안,2012-11-17 09:00,2022-10-21 15:13,기타,2022-11-01,허가완료
3,울산,134802,해바다206호,2012.0,1.0,최종,출항,10,2012-12-25 06:00,2022-03-28 05:55,...,001,10,MLJ,01,장생포호안,2012-12-25 00:00,2022-03-28 05:00,기타,2022-04-21,허가완료
4,울산,144808,케이101호,2014.0,1.0,최종,출항,151,2014-07-20 12:10,2022-09-28 05:40,...,001,151,MBM,01,매암부두,2014-07-20 12:10,2022-09-28 05:40,기타,2022-11-01,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49617,울산,130064,에이원,2022.0,114.0,최종,출항,431,2022-12-31 09:45,2022-12-31 16:15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49618,울산,HOXG,SPRING NOTE,2022.0,31.0,최종,출항,"2,579",2022-12-31 10:05,2022-12-31 20:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49619,울산,200013,유성,2022.0,142.0,최종,출항,"1,998",2022-12-31 15:55,2022-12-31 23:15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49620,울산,066597,한성8호,2022.0,22.0,최종,출항,164,2022-12-31 17:55,2022-12-31 20:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49621,울산,038256,태천2호,2022.0,69.0,최종,출항,456,2022-12-31 18:00,2022-12-31 21:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. 대기시간, 서비스시간 컬럼생성(Entry > Anchor > Berth > Departure)

In [21]:
temp = unique_values.copy()

In [22]:
# 데이터 타입으로 변경 , 잘못된 값 제거(6311 인덱스)
temp['지정일시(TO)'] = pd.to_datetime(temp['지정일시(TO)'], errors='coerce')
temp['지정일시(FROM)'] = pd.to_datetime(temp['지정일시(FROM)'], errors='coerce')

In [23]:
# 접안 대기시간,출항 대기시간 계산
temp['접안_대기시간'] = pd.NaT
temp['출항_대기시간'] = pd.NaT

temp.loc[temp['사용목적명'] == '접안대기', '접안_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']
temp.loc[temp['사용목적명'] == '출항대기', '출항_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']

In [24]:
temp.head()

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간
0,울산,936013,해바다201호,2010.0,1.0,최종,출항,11,2010-11-10 06:00,2022-03-28 05:55,...,MLJ,01,장생포호안,2010-11-10 06:00:00,2022-03-28 05:55:00,기타,2022-04-20,허가완료,NaT,NaT
1,울산,814441,에스엠103호,2012.0,1.0,최종,출항,19.77,2012-04-28 19:00,2022-10-14 10:31,...,MLJ,01,장생포호안,2012-04-08 19:00:00,2022-10-14 10:31:00,기타,2022-11-29,허가완료,NaT,NaT
2,울산,070157,골든씨2호,2012.0,1.0,최종,출항,24,2012-11-17 09:00,2022-10-21 15:13,...,MLJ,01,장생포호안,2012-11-17 09:00:00,2022-10-21 15:13:00,기타,2022-11-01,허가완료,NaT,NaT
3,울산,134802,해바다206호,2012.0,1.0,최종,출항,10,2012-12-25 06:00,2022-03-28 05:55,...,MLJ,01,장생포호안,2012-12-25 00:00:00,2022-03-28 05:00:00,기타,2022-04-21,허가완료,NaT,NaT
4,울산,144808,케이101호,2014.0,1.0,최종,출항,151,2014-07-20 12:10,2022-09-28 05:40,...,MBM,01,매암부두,2014-07-20 12:10:00,2022-09-28 05:40:00,기타,2022-11-01,허가완료,NaT,NaT

#### Departure 생성

- 출항대기시간 null 값인 경우에는, Departure 값이 '출항일시' 값
- 사용목적명이 '출항대기'일 경우에 Departure 값이 '신청일시(FROM)' 값으로

In [25]:
import numpy as np

# 'Service_Time_End' 열 생성
temp['Service_Time_End'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Service_Time_End' 값 할당
temp.loc[temp['사용목적명'] == '출항대기', 'Service_Time_End'] = temp['지정일시(FROM)']

# '출항_대기시간'이 null인 경우 'Service_Time_End' 값 할당
temp.loc[temp['출항_대기시간'].isnull(),'Service_Time_End'] = temp['출항일시']

In [26]:
temp.head(15)

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End
0,울산,936013,해바다201호,2010.0,1.0,최종,출항,11,2010-11-10 06:00,2022-03-28 05:55,...,01,장생포호안,2010-11-10 06:00:00,2022-03-28 05:55:00,기타,2022-04-20,허가완료,NaT,NaT,2022-03-28 05:55
1,울산,814441,에스엠103호,2012.0,1.0,최종,출항,19.77,2012-04-28 19:00,2022-10-14 10:31,...,01,장생포호안,2012-04-08 19:00:00,2022-10-14 10:31:00,기타,2022-11-29,허가완료,NaT,NaT,2022-10-14 10:31
2,울산,070157,골든씨2호,2012.0,1.0,최종,출항,24,2012-11-17 09:00,2022-10-21 15:13,...,01,장생포호안,2012-11-17 09:00:00,2022-10-21 15:13:00,기타,2022-11-01,허가완료,NaT,NaT,2022-10-21 15:13
3,울산,134802,해바다206호,2012.0,1.0,최종,출항,10,2012-12-25 06:00,2022-03-28 05:55,...,01,장생포호안,2012-12-25 00:00:00,2022-03-28 05:00:00,기타,2022-04-21,허가완료,NaT,NaT,2022-03-28 05:55
4,울산,144808,케이101호,2014.0,1.0,최종,출항,151,2014-07-20 12:10,2022-09-28 05:40,...,01,매암부두,2014-07-20 12:10:00,2022-09-28 05:40:00,기타,2022-11-01,허가완료,NaT,NaT,2022-09-28 05:40
5,울산,976310,해바다207호,2015.0,1.0,최종,출항,15,2015-01-01 09:00,2022-04-19 11:00,...,01,장생포호안,2015-01-01 09:00:00,2022-04-19 12:00:00,기타,2022-04-21,허가완료,NaT,NaT,2022-04-19 11:00
6,울산,D7LX,울산701호,2016.0,13.0,최종,출항,118,2016-04-30 10:00,2022-08-14 15:50,...,01,이진소형선부두,2016-04-30 10:00:00,2022-08-14 15:50:00,기타,2022-08-16,허가완료,NaT,NaT,2022-08-14 15:50
7,울산,890901,대성호,2016.0,1.0,최종,출항,18,2016-07-30 19:15,2022-10-06 09:05,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-10-06 09:05
8,울산,950278,성진호,2017.0,1.0,최종,출항,24,2017-03-12 14:00,2022-11-26 09:45,...,01,장생포호안,2017-03-12 14:00:00,2022-11-26 09:45:00,기타,2022-11-28,허가완료,NaT,NaT,2022-11-26 09:45
9,울산,975652,태평호,2018.0,1.0,최종,출항,149,2018-05-12 15:30,2022-06-09 10:20,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-06-09 10:20
10,울산,174803,조광601호,2018.0,2.0,최종,출항,364,2018-05-17 00:00,2022-02-21 03:40,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-02-21 03:40
11,울산,927395,비케이3호,2018.0,1.0,최종,출항,38,2018-05-31 16:40,2022-10-19 05:14,...,01,장생포호안,2018-05-31 16:40:00,2022-10-19 05:14:00,기타,2022-11-02,허가완료,NaT,NaT,2022-10-19 05:14
12,울산,194801,조광105호,2021.0,1.0,최종,출항,160,2019-03-18 16:48,2022-09-28 05:40,...,01,매암부두,2019-03-18 16:48:00,2022-09-28 05:40:00,기타,2022-11-16,허가완료,NaT,NaT,2022-09-28 05:40
13,울산,982733,제99효동호,2019.0,1.0,최종,출항,64,2019-10-14 22:10,2022-01-05 09:45,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-01-05 09:45
14,울산,174801,선진202호,2019.0,1.0,최종,출항,348,2019-12-09 21:10,2022-02-14 03:00,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-02-14 03:00

#### Anchor = 접안대기

In [27]:
temp['Anchor'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Anchor' 값 할당
temp.loc[temp['사용목적명'] == '접안대기', 'Anchor'] = temp['지정일시(TO)']

In [28]:
temp['Service_Time_Start'] = np.where(temp['Anchor'].isnull(), temp['입항일시'], temp['Anchor'])

In [29]:
# 문자열을 datetime으로 변환
temp['Service_Time_End'] = pd.to_datetime(temp['Service_Time_End'])
temp['Service_Time_Start'] = pd.to_datetime(temp['Service_Time_Start'])
temp['Service_Time'] = temp['Service_Time_End'] - temp['Service_Time_Start']

In [30]:
temp

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End,Anchor,Service_Time_Start,Service_Time
0,울산,936013,해바다201호,2010.0,1.0,최종,출항,11,2010-11-10 06:00,2022-03-28 05:55,...,2022-03-28 05:55:00,기타,2022-04-20,허가완료,NaN,NaN,2022-03-28 05:55:00,NaN,2010-11-10 06:00:00,4155 days 23:55:00
1,울산,814441,에스엠103호,2012.0,1.0,최종,출항,19.77,2012-04-28 19:00,2022-10-14 10:31,...,2022-10-14 10:31:00,기타,2022-11-29,허가완료,NaN,NaN,2022-10-14 10:31:00,NaN,2012-04-28 19:00:00,3820 days 15:31:00
2,울산,070157,골든씨2호,2012.0,1.0,최종,출항,24,2012-11-17 09:00,2022-10-21 15:13,...,2022-10-21 15:13:00,기타,2022-11-01,허가완료,NaN,NaN,2022-10-21 15:13:00,NaN,2012-11-17 09:00:00,3625 days 06:13:00
3,울산,134802,해바다206호,2012.0,1.0,최종,출항,10,2012-12-25 06:00,2022-03-28 05:55,...,2022-03-28 05:00:00,기타,2022-04-21,허가완료,NaN,NaN,2022-03-28 05:55:00,NaN,2012-12-25 06:00:00,3379 days 23:55:00
4,울산,144808,케이101호,2014.0,1.0,최종,출항,151,2014-07-20 12:10,2022-09-28 05:40,...,2022-09-28 05:40:00,기타,2022-11-01,허가완료,NaN,NaN,2022-09-28 05:40:00,NaN,2014-07-20 12:10:00,2991 days 17:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49617,울산,130064,에이원,2022.0,114.0,최종,출항,431,2022-12-31 09:45,2022-12-31 16:15,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 16:15:00,NaN,2022-12-31 09:45:00,0 days 06:30:00
49618,울산,HOXG,SPRING NOTE,2022.0,31.0,최종,출항,"2,579",2022-12-31 10:05,2022-12-31 20:10,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 20:10:00,NaN,2022-12-31 10:05:00,0 days 10:05:00
49619,울산,200013,유성,2022.0,142.0,최종,출항,"1,998",2022-12-31 15:55,2022-12-31 23:15,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 23:15:00,NaN,2022-12-31 15:55:00,0 days 07:20:00
49620,울산,066597,한성8호,2022.0,22.0,최종,출항,164,2022-12-31 17:55,2022-12-31 20:40,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 20:40:00,NaN,2022-12-31 17:55:00,0 days 02:45:00
49621,울산,038256,태천2호,2022.0,69.0,최종,출항,456,2022-12-31 18:00,2022-12-31 21:00,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 21:00:00,NaN,2022-12-31 18:00:00,0 days 03:00:00

### 서비스타임,대기율, 용도별 대기율

In [31]:
waiting = temp.copy()

In [32]:
waiting['접안_대기시간'].fillna(0, inplace = True)

In [33]:
# import pandas as pd

# # 데이터프레임에서 '접안_대기시간'과 'Service_Time' 컬럼을 timedelta 형식으로 변환
waiting['접안_대기시간'] = pd.to_timedelta(waiting['접안_대기시간'])
waiting['Service_Time'] = pd.to_timedelta(waiting['Service_Time'])

# timedelta 값에서 일(day)로 변환
waiting['접안_대기시간_NumDays'] = waiting['접안_대기시간'].dt.days
waiting['Service_Time_NumDays'] = waiting['Service_Time'].dt.days

In [34]:
# '접안_대기시간' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['접안_대기시간_일'] = waiting['접안_대기시간'].dt.days
waiting['접안_대기시간_시간'] = waiting['접안_대기시간'].dt.components.hours
waiting['접안_대기시간_분'] = waiting['접안_대기시간'].dt.components.minutes
# 'Service_Time' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['Service_Time_일'] = waiting['Service_Time'].dt.days
waiting['Service_Time_시간'] = waiting['Service_Time'].dt.components.hours
waiting['Service_Time_분'] = waiting['Service_Time'].dt.components.minutes

# 'Service_Time'을 분으로 변환하여 'Service_Time_분' 열에 추가
waiting['Service_Time_분'] = waiting['Service_Time_일'] * 24 * 60 + waiting['Service_Time_시간'] * 60 + waiting['Service_Time_분']

# '접안_대기시간'을 분으로 변환하여 '접안_대기시간_분' 열에 추가
waiting['접안_대기시간_분'] = waiting['접안_대기시간_일'] * 24 * 60 + waiting['접안_대기시간_시간'] * 60 + waiting['접안_대기시간_분']

In [35]:
waiting['대기율'] = waiting['접안_대기시간_분'] / waiting['Service_Time_분']

In [36]:
waiting['대기율'].describe()

count    49618.000
mean           inf
std            NaN
min        -11.125
25%          0.000
50%          0.000
75%          0.000
max            inf
Name: 대기율, dtype: float64

In [37]:
waiting['대기율'].fillna(0, inplace = True)

In [38]:
waiting['대기율'].mean()

inf

In [39]:
q99 = np.percentile(waiting['대기율'], 99)  
outliers = waiting[waiting['대기율'] > q99]

# 이상치 제외한 데이터 생성
filtered_data = waiting[waiting['대기율'] <= q99]  # 상위 1%의 이상치를 제외한 데이터

In [40]:
filtered_data['대기율'].mean()

0.1415842791669667

In [41]:
waiting.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무', '접안_대기시간', '출항_대기시간',
       'Service_Time_End', 'Anchor', 'Service_Time_Start', 'Service_Time',
       '접안_대기시간_NumDays', 'Service_Time_NumDays', '접안_대기시간_일', '접안_대기시간_시간',
       '접안_대기시간_분', 'Service_Time_일', 'Service_Time_시간', 'Service_Time_분',
       '대기율'],
      dtype='object')

In [42]:
waiting

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,Service_Time,접안_대기시간_NumDays,Service_Time_NumDays,접안_대기시간_일,접안_대기시간_시간,접안_대기시간_분,Service_Time_일,Service_Time_시간,Service_Time_분,대기율
0,울산,936013,해바다201호,2010.0,1.0,최종,출항,11,2010-11-10 06:00,2022-03-28 05:55,...,4155 days 23:55:00,0,4155,0,0,0,4155,23,5984635,0.0
1,울산,814441,에스엠103호,2012.0,1.0,최종,출항,19.77,2012-04-28 19:00,2022-10-14 10:31,...,3820 days 15:31:00,0,3820,0,0,0,3820,15,5501731,0.0
2,울산,070157,골든씨2호,2012.0,1.0,최종,출항,24,2012-11-17 09:00,2022-10-21 15:13,...,3625 days 06:13:00,0,3625,0,0,0,3625,6,5220373,0.0
3,울산,134802,해바다206호,2012.0,1.0,최종,출항,10,2012-12-25 06:00,2022-03-28 05:55,...,3379 days 23:55:00,0,3379,0,0,0,3379,23,4867195,0.0
4,울산,144808,케이101호,2014.0,1.0,최종,출항,151,2014-07-20 12:10,2022-09-28 05:40,...,2991 days 17:30:00,0,2991,0,0,0,2991,17,4308090,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49617,울산,130064,에이원,2022.0,114.0,최종,출항,431,2022-12-31 09:45,2022-12-31 16:15,...,0 days 06:30:00,0,0,0,0,0,0,6,390,0.0
49618,울산,HOXG,SPRING NOTE,2022.0,31.0,최종,출항,"2,579",2022-12-31 10:05,2022-12-31 20:10,...,0 days 10:05:00,0,0,0,0,0,0,10,605,0.0
49619,울산,200013,유성,2022.0,142.0,최종,출항,"1,998",2022-12-31 15:55,2022-12-31 23:15,...,0 days 07:20:00,0,0,0,0,0,0,7,440,0.0
49620,울산,066597,한성8호,2022.0,22.0,최종,출항,164,2022-12-31 17:55,2022-12-31 20:40,...,0 days 02:45:00,0,0,0,0,0,0,2,165,0.0
49621,울산,038256,태천2호,2022.0,69.0,최종,출항,456,2022-12-31 18:00,2022-12-31 21:00,...,0 days 03:00:00,0,0,0,0,0,0,3,180,0.0

In [43]:
result = waiting.groupby('선박용도')['대기율'].mean().to_frame()
result = result.sort_values(by='대기율', ascending=False).reset_index()

In [44]:
result.sort_values(by = '대기율', ascending = False)

           선박용도       대기율
0           여객선  0.823289
1         일반화물선  0.305114
2   세미(혼재)컨테이너선  0.093597
3       철강재 운반선  0.053670
4        기타 유조선  0.041788
5           신조선  0.038276
6           급유선  0.028467
7        자동차운반선  0.014924
8        풀컨테이너선  0.001731
9         견인용예선  0.000400
17       시멘트운반선  0.000000
22          관공선  0.000000
21           군함  0.000000
20        기타 예선  0.000000
19       냉동.냉장선  0.000000
18       수상레저기구  0.000000
12        코일전용선  0.000000
16          용달선  0.000000
15      LNG 운반선  0.000000
14          유람선  0.000000
13     이.접안용 예선  0.000000
11      폐기물 운반선  0.000000
10        원양 어선  0.000000
23        압항 예선  0.000000
24      LPG 운반선       NaN
25          기타선       NaN
26        모래운반선       NaN
27     산물선(벌크선)       NaN
28     석유제품 운반선       NaN
29        원유운반선       NaN
30      케미칼 운반선       NaN
31    케미칼가스 운반선       NaN

In [45]:
waiting.to_csv(directory + '/울산_전처리ver1.csv', encoding = 'utf-8-sig', index = False)

In [46]:
waiting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49622 entries, 0 to 49621
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   항명                    49622 non-null  object
 1   호출부호                  49622 non-null  object
 2   선박명                   49622 non-null  object
 3   입항횟수_연도               49622 non-null  float64
 4   입항횟수_횟수               49622 non-null  float64
 5   구분                    49622 non-null  object
 6   입출                    49622 non-null  object
 7   총톤수                   49622 non-null  object
 8   입항일시                  49622 non-null  object
 9   출항일시                  49622 non-null  object
 10  수리일시                  49614 non-null  object
 11  항해구분                  49622 non-null  object
 12  계선장소_코드               49622 non-null  object
 13  계선장소_숫자               49622 non-null  object
 14  계선장소명                 49622 non-null  object
 15  선박용도                  49622 non-null  object
 16  순번                    49133 non-null  object
 17  시설사용횟수                49133 non-null  object
 18  신고톤수                  49133 non-null  object
 19  지정시설_코드               49133 non-null  object
 20  지정시설_번호               49133 non-null  object
 21  지정시설명                 49133 non-null  object
 22  지정일시(FROM)            49133 non-null  datetime64[ns]
 23  지정일시(TO)              49132 non-null  datetime64[ns]
 24  사용목적명                 49133 non-null  object
 25  예보일시                  49133 non-null  object
 26  허가유무                  49133 non-null  object
 27  접안_대기시간               49622 non-null  timedelta64[ns]
 28  출항_대기시간               883 non-null    object
 29  Service_Time_End      49622 non-null  datetime64[ns]
 30  Anchor                6955 non-null   object
 31  Service_Time_Start    49622 non-null  datetime64[ns]
 32  Service_Time          49622 non-null  timedelta64[ns]
 33  접안_대기시간_NumDays       49622 non-null  int64
 34  Service_Time_NumDays  49622 non-null  int64
 35  접안_대기시간_일             49622 non-null  int64
 36  접안_대기시간_시간            49622 non-null  int64
 37  접안_대기시간_분             49622 non-null  int64
 38  Service_Time_일        49622 non-null  int64
 39  Service_Time_시간       49622 non-null  int64
 40  Service_Time_분        49622 non-null  int64
 41  대기율                   49622 non-null  float64
dtypes: datetime64[ns](4), float64(3), int64(8), object(25), timedelta64[ns](2)
memory usage: 17.3+ MB

#### 이상치 제거(상하위 1%)

In [47]:
# '대기율' 열에서 상하위 1%에 해당하는 값 구하기
lower_bound = waiting['대기율'].quantile(0.01)
upper_bound = waiting['대기율'].quantile(0.99)

# 상하위 1%에 해당하는 이상치 제거
filtered_waiting = waiting[(waiting['대기율'] >= lower_bound) & (waiting['대기율'] <= upper_bound)]

In [48]:
filtered_waiting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49103 entries, 0 to 49621
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   항명                    49103 non-null  object
 1   호출부호                  49103 non-null  object
 2   선박명                   49103 non-null  object
 3   입항횟수_연도               49103 non-null  float64
 4   입항횟수_횟수               49103 non-null  float64
 5   구분                    49103 non-null  object
 6   입출                    49103 non-null  object
 7   총톤수                   49103 non-null  object
 8   입항일시                  49103 non-null  object
 9   출항일시                  49103 non-null  object
 10  수리일시                  49095 non-null  object
 11  항해구분                  49103 non-null  object
 12  계선장소_코드               49103 non-null  object
 13  계선장소_숫자               49103 non-null  object
 14  계선장소명                 49103 non-null  object
 15  선박용도                  49103 non-null  object
 16  순번                    48614 non-null  object
 17  시설사용횟수                48614 non-null  object
 18  신고톤수                  48614 non-null  object
 19  지정시설_코드               48614 non-null  object
 20  지정시설_번호               48614 non-null  object
 21  지정시설명                 48614 non-null  object
 22  지정일시(FROM)            48614 non-null  datetime64[ns]
 23  지정일시(TO)              48613 non-null  datetime64[ns]
 24  사용목적명                 48614 non-null  object
 25  예보일시                  48614 non-null  object
 26  허가유무                  48614 non-null  object
 27  접안_대기시간               49103 non-null  timedelta64[ns]
 28  출항_대기시간               883 non-null    object
 29  Service_Time_End      49103 non-null  datetime64[ns]
 30  Anchor                6436 non-null   object
 31  Service_Time_Start    49103 non-null  datetime64[ns]
 32  Service_Time          49103 non-null  timedelta64[ns]
 33  접안_대기시간_NumDays       49103 non-null  int64
 34  Service_Time_NumDays  49103 non-null  int64
 35  접안_대기시간_일             49103 non-null  int64
 36  접안_대기시간_시간            49103 non-null  int64
 37  접안_대기시간_분             49103 non-null  int64
 38  Service_Time_일        49103 non-null  int64
 39  Service_Time_시간       49103 non-null  int64
 40  Service_Time_분        49103 non-null  int64
 41  대기율                   49103 non-null  float64
dtypes: datetime64[ns](4), float64(3), int64(8), object(25), timedelta64[ns](2)
memory usage: 16.1+ MB

In [49]:
filtered_waiting['대기율'].describe()

count    49103.000000
mean         0.143032
std          0.543320
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.901786
Name: 대기율, dtype: float64

In [50]:
filtered_waiting.to_csv(directory + '/2022_울산_전처리_ver3.csv', encoding = 'utf-8-sig', index = False)