In [1]:
import pandas as pd

In [2]:
import pandas as pd
PATH  = '../data/'

df = pd.read_csv(PATH + '액체_모델용.csv')

In [3]:
df

,Datetime,ETA_Year,ETA_Month,ETA_Day,ETA_Hour,호출부호,입항일시,출항일시,접안_대기시간_분,출항_대기시간_분,...,현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg),액체화물
0,2020-01-01 01:00:00,2020,1,1,1,88238,2020-01-01 01:05:00,2020-01-01 08:15,0,0.0,...,1028.8,43.0,4.3,17.5,4.2,2.8,2.0,10.7,49.0,1
1,2020-01-01 03:00:00,2020,1,1,3,DSRB9,2020-01-01 03:05:00,2020-01-01 14:55,0,0.0,...,1028.5,44.0,4.3,17.4,3.9,2.2,1.5,9.1,48.0,1
2,2020-01-01 04:00:00,2020,1,1,4,D7SC,2020-01-01 04:30:00,2020-01-01 20:40,0,0.0,...,1028.3,53.0,3.4,17.3,3.5,2.1,1.5,9.1,56.0,1
3,2020-01-01 05:00:00,2020,1,1,5,130095,2020-01-01 05:40:00,2020-01-02 11:00,0,0.0,...,1028.9,60.0,3.0,16.8,4.0,2.1,1.5,8.0,38.0,1
4,2020-01-01 05:00:00,2020,1,1,5,160014,2020-01-01 05:30:00,2020-01-02 02:30,517,0.0,...,1028.9,60.0,3.0,16.8,4.0,2.1,1.5,8.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50996,2022-12-31 09:00:00,2022,12,31,9,130037,2022-12-31 09:00:00,2022-12-31 17:05,0,0.0,...,1028.7,64.0,5.7,16.1,2.2,1.6,1.1,5.3,0.0,1
50997,2022-12-31 09:00:00,2022,12,31,9,130064,2022-12-31 09:45:00,2022-12-31 16:15,0,0.0,...,1028.7,64.0,5.7,16.1,2.2,1.6,1.1,5.3,0.0,1
50998,2022-12-31 10:00:00,2022,12,31,10,HOXG,2022-12-31 10:05:00,2022-12-31 20:10,0,0.0,...,1029.3,60.0,5.6,16.1,2.3,1.5,1.1,5.8,36.0,1
50999,2022-12-31 15:00:00,2022,12,31,15,200013,2022-12-31 15:55:00,2022-12-31 23:15,0,0.0,...,1027.6,49.0,7.8,16.1,2.4,1.5,1.0,5.8,6.0,1
51000,2022-12-31 17:00:00,2022,12,31,17,66597,2022-12-31 17:55:00,2022-12-31 20:40,0,0.0,...,1027.6,47.0,8.0,16.2,2.2,1.3,0.9,5.8,33.0,1